/*
Theme Name: Fastpixel
Theme URI: https://pixelaart.com/themes/schema/
Author: Pixleaart
Author URI: https://pixelaart.com/
Description: Fastpixel is a fast loading, ultra-SEO friendly WordPress theme that features rich snippets in order to help search engines identify all parts of your site and rank you higher.
Version: 1.0
Text Domain: fastpixel
Domain Path: /lang
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
html { -webkit-font-smoothing: antialiased }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
ol, ul { list-style: none }
blockquote, q { quotes: none }
table {border-collapse: collapse;border-spacing: 0;}
button, input, select, textarea {margin: 0;font-weight: inherit;}
:focus { outline: 0 }
img, video, object {max-width: 100%;height: auto!important;}
iframe { max-width: 100% }
blockquote {font-weight: normal;padding: 0 10px 20px 27px;position: relative;margin-top: 25px;}
blockquote:after {font-family: FontAwesome;position: absolute;content: "\f10d";font-size: 20px;width: 50px;top: 0;left: 0;}
blockquote p { margin-bottom: 10px }
strong, b { font-weight: bold }
em, i, cite { font-style: italic }
small { font-size: 100% }
figure { margin: 10px 0 }
code, pre {font-weight: normal;font-style: normal;}
pre {margin: 5px 0 20px 0;line-height: 1.3em;padding: 8px 10px;overflow: auto;}
code {padding: 0 8px;line-height: 1.5;}
mark {padding: 1px 6px;margin: 0 2px;color: black;background: #FFF7A8;}
address {margin: 10px 0;font-style: italic;}
.wp-caption {background: #fff;border: 1px solid #f0f0f0;max-width: 96%;padding: 5px 3px 10px;text-align: center;}
.gallery-caption {}
#gallery-1 img { border: 0!important }
.bypostauthor {}
.wp-caption-text { margin-bottom: 0 }
dl {}
dt {float: left;clear: left;width: 100px;text-align: right;font-weight: bold;}
dd {margin: 0 0 0 110px;padding: 0 0 0.5em 0;overflow: hidden;}
body {font: 14px/1.5 Noto Sans, sans-serif;color: #555;background-color: #EBEBEB;}
::-moz-selection {background: #222;color: white;text-shadow: none;}
::selection {background: #222;color: white;text-shadow: none;}
#page, .container {position: relative;margin-right: auto;margin-left: auto;}
.post-single-content h1, .post-single-content h2, .post-single-content h3, .post-single-content h4, .post-single-content h5, .post-single-content h6 { text-transform: uppercase }
.post-single-content h2 { font-size: 24px }
h1, h2, h3, h4, h5, h6 {font-weight: bold;margin-bottom: 12px;color: #444;}
h1 {font-size: 28px;line-height: 1.4;}
h2 { line-height: 1.4 }
h3 {font-size: 22px;line-height: 1.4;}
h4 {font-size: 20px;line-height: 1.4;}
h5 {font-size: 18px;line-height: 1.4;}
h6 {font-size: 16px;line-height: 1.4;}
.sub-title { font-size: 12px }
p { margin-bottom: 20px }
a {text-decoration: none;color: #222;transition: all 0.25s linear;}
a:hover { color: #000544 }
a:link, a:visited, a:active { text-decoration: none }
.main-container {width: 100%;margin: 0 auto;clear: both;display: block;padding: 0;}
#page, .container {max-width: 1152px;min-width: 240px;}
#page {padding-top: 20px;min-height: 100px;float: none;clear: both;}
header {float: left;width: 100%;position: relative;}
.main-header {position: relative;float: left;min-width: 100%;width: 100%;z-index: 99;background: #fff;}
.main-header .container { background: #fff }
#header {position: relative;min-width: 100%;width: 100%;float: left;margin: 0;padding: 0;background: #222;}
#header h1, #header h2 {float: left;display: inline-block;line-height: 1;position: relative;margin-bottom: 0;}
div#regular-header {overflow: hidden;clear: both;padding: 0;}
#logo a {text-transform: uppercase;float: left;line-height: 1;color: #222;}
#header #logo a {font-size: 28px;color: #fff;}
#logo img { float: left }
.logo-wrap {margin: 49px 0;overflow: hidden;float: left;}
#header .logo-wrap {padding: 20px 0;margin: 0;}
.site-description {float: left;margin-top: 0;max-width: 350px;clear: left;}
#header .header-search { float: right }
#header #searchform {max-width: 100%;float: right;width: auto;min-width: 300px;}
#header #s {margin: 0 !important;width: 100%;}
.widget-header {float: right;max-width: 77%;margin-top: 20px;}
.small-header { text-align: center }
.small-header .widget-header {float: none;display: inline-block;margin-bottom: 13px;}
.single .small-header .widget-header, .page .small-header .widget-header {margin-bottom: -10px;}

.widget-header img { float: left }
.widget-header .textwidget {float: left;margin-top: 46px;border-left: 1px solid #cccccc;padding-left: 20px;}
#primary-navigation .navigation .menu {float: left;margin-right: 20px;}
div.header-social-icons {float: right;position: relative;margin-left: 35px;border-radius: 25px;margin: 1px 0 1px 20px;}
#primary-navigation .header-social-icons a, .header-social-icons a {float: left;font-size: 18px;padding: 14px 10px;}
#primary-navigation .header-social-icons a:last-child { padding-right: 15px }
#primary-navigation .navigation > ul > li:first-child > a { padding-left: 0 }
.navigation .toggle-caret { display: none }
.regular_header div#primary-nav {float: left;width: 100%;border-bottom: 1px solid #eee;}
.header-top-message{float: left;width: auto;padding: 10px 0;text-align: center;}
#primary-navigation { float: right }
#primary-navigation .navigation ul ul { width: 200px }
#primary-navigation .navigation ul ul ul { left: 200px }
.regular_header #primary-navigation {float: left;width: 100%;}
#primary-navigation .navigation ul ul a { padding-right: 45px }
.menu-item-has-children > a:after {content: "\f107";font-family: FontAwesome;position: absolute;right: 14px;}
#primary-navigation .navigation .menu-item-has-children > a { padding-right: 25px }
#secondary-navigation {display: block;float: right;}
.regular_header #secondary-navigation {float: left;width: 100%;}
#secondary-navigation .navigation ul ul li { background: #fff }
#secondary-navigation .navigation ul li:hover, #secondary-navigation .navigation ul .current-menu-item { background: #fff }
#secondary-navigation a {text-align: left;text-decoration: none;padding: 24px 25px;transition: none;}
#secondary-navigation .navigation > ul > .menu-item-has-children > a { padding-right: 38px }
#secondary-navigation .menu-item-has-children > a:after { right: 22px }
#primary-navigation a {padding: 17px 15px 16px 15px;line-height: 1;}
#secondary-navigation a .sub {font-size: 11px;font-weight: normal;color: #9B9B9B;}
.navigation {float: left;position: relative;width: 100%;}
.navigation ul { margin: 0 auto }
.navigation ul li {float: left;line-height: 24px;position: relative;transition: all 0.25s linear;}
.navigation ul li a, .navigation ul li a:link, .navigation ul li a:visited { display: inline-block }
.navigation > ul > .current a {background: transparent;color: #5a5a5a !important;}
.navigation ul li li {background: #fff;border-bottom: 0;}
.navigation ul ul {position: absolute;width: 255px;padding: 20px 0 0 0;padding-top: 0;z-index: 400;font-size: 12px;color: #798189;box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.2);}
.navigation ul ul li {padding: 0;background: #fff;color: #000;}
#primary-navigation .navigation ul ul a, #primary-navigation .navigation ul ul a:link, #primary-navigation .navigation ul ul a:visited, #secondary-navigation .navigation ul ul a, #secondary-navigation .navigation ul ul a:link, #secondary-navigation .navigation ul ul a:visited {padding: 9px 45px 9px 20px;position: relative;width: 190px;border-left: 0;background: transparent;border-right: 0;border-radius: 0;border-bottom: 1px solid   rgba(255, 255, 255, 0.05);margin: 0;}
#primary-navigation .navigation ul ul a, #primary-navigation .navigation ul ul a:link { width: 135px }
.navigation ul ul li:first-child a {}
.navigation ul ul li:last-child a {border-bottom: none}
.navigation ul ul {display: none}
.navigation ul ul ul {left: 256px;top: 0;box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.2);}
.sub-menu .menu-item-has-children:after {color: #fff}
ul.ajax-search-results{display: block !important;position: absolute;width: 300px;padding: 20px 0 0 0;padding-top: 20px;padding-top: 0;z-index: 400;font-size: 12px;color:#798189;}
ul.ajax-search-results li{background: #fff !important;color: #000544 !important}
#secondary-navigation .navigation ul.ajax-search-results a, #secondary-navigation .navigation ul.ajax-search-results a:link{padding: 0 !important;width: 298px !important;font-size: 12px;text-transform: none;color: #000544 !important;display: block !important}
#secondary-navigation .navigation ul.ajax-search-results .wp-post-image{margin-left: 5px;}
#secondary-navigation .navigation ul.ajax-search-results a{color: #000544 !important;}
#secondary-navigation .navigation ul.ajax-search-results li:hover, #secondary-navigation .navigation ul.ajax-search-results:hover, .ajax-search-results-container:hover{background: #fff !important;color: #000544 !important;}
.clearfix:before, .clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both}
.clearfix {*zoom: 1}
a#pull {display: none}
.navigation i {margin-right: 4px}
#header.sticky-navigation-active {z-index: 500;position: fixed;top: 0;margin: 0 !important;-webkit-backface-visibility: hidden;}
.admin-bar .sticky-navigation-active { top: 32px }
.sticky-navigation a { transition: all 0.25s linear }
.article {width: 69.015%;float: left;margin-bottom: 35px;padding: 10px;background: #fff;box-sizing: border-box;box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.1);}
#content_box {float: left;width: 100%;}
.post {float: left;width: 98%; padding: 10px;}
.single_post {width: 100%;float: left;margin-bottom: 30px;}
.single_page {padding: 20px;}
.post-content {margin-bottom: 15px;overflow: hidden;clear: both;float: left;width: 100%;}
.post-single-content {clear: both;float: left;width: 100%;}
.readMore {float: left;margin-top: 10px;}
.frontPost .readMore a {color: #000;font-size: 12px;}
.pxl-full-width {background: white;overflow: hidden;padding-top: 0;padding: 0;background: #fff;box-sizing: border-box;box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.1);}
.pxl-full-width #content_box {padding-right: 0;padding-left: 0;}
.post.excerpt {clear: both;margin-bottom: 30px;overflow: hidden;padding-bottom: 15px;background-color: #fff;width: auto;}
.widget .wp-post-image, .widget .wpt_thumb_small {float: left;margin-bottom: 0px;}
.single-post .wp-post-image{padding:0;}
.featured-thumbnail {max-width: 100%;float: left;width: 100%;}
#featured-thumbnail {max-width: 100%;display: block;position: relative;overflow: hidden;clear: both;margin-bottom: 15px;}
#featured-thumbnail.fastpixel-widgetfull {float: left;margin-right: 20px;}
#featured-thumbnail.fastpixel-widgetfull + .front-view-content {width: auto;float: none;}
.featured-thumbnail img {margin-bottom: 0;width: 100%;float: left;}
.title { clear: both }
.single-title {float: left;width: 100%;}
.page h1.title {padding-top: 0;margin-bottom: 0;}
.post-info {display: block;float: left;clear: both;width: 100%;margin-bottom: 20px;font-size:14px !important;}
.post-info > span { margin-right: 10px }
.featured-category-title {clear: both;}
article header {float: left;width: 100%;}
.featured-category-title {float: left;width: 100%;clear: both;font-size: 22px;}
.featured-category-title a {float: left;width: 100%;color: #222222;margin-top: 30px;}
.latestPost {width: 100%;float: left;margin-bottom: 10px;}
.latestPost .title { display: block }
.related-posts article header {margin-bottom: 0;text-align: center;}
.related-posts #featured-thumbnail {margin-bottom: 0;padding: 10px;}
.front-view-content {float: left;width: 100%;}
.single_post header { width: 100% }
article img.left, article img.alignleft, .wp-caption.alignleft {margin: 0.3em 1.571em 0.5em 0;display: block;float: left;}
article img.right, article img.alignright, .wp-caption.alignright {margin: 0.3em 0 0.5em 1.571em;display: block;float: right;}
article img.center, article img.aligncenter, .wp-caption.aligncenter {margin: 0.3em auto 0.5em auto;display: block;}
article img.aligncenter, article img.alignnone {margin-top: 1em;margin-bottom: 1em;display: block;clear: both;}
article ul {padding: 0 0 0 1.9em;list-style-type: square;}
article ol {padding: 0 0 0 1.9em;list-style-type: decimal;}
article ul ul, article ol ol, article ul ol, article ol ul {padding-top: 0;padding-bottom: 0;}
article ul ul { list-style-type: square }
article ul ul ul { list-style-type: square }
article .iconlist { padding-left: 0 }
article .iconlist li { list-style-type: none }
.tweets li { margin-bottom: 15px!important }
.tweets li { margin-bottom: 15px!important }
.fb_iframe_widget, .fb_iframe_widget span {max-width: 100%;width: 100%!important;}
.widget_nav_menu .menu-item-has-children > a:after { display: none }
.widget_nav_menu .fa > a, .widget_nav_menu .fa > a { padding-left: 5px }
.widget_nav_menu .sub-menu { margin-top: 7px }
.toggle-menu ul ul { display: none }
.toggle-menu .toggle-menu-item-parent { position: relative }
.toggle-menu .toggle-caret {position: absolute;top: 0;right: 0;text-align: center;cursor: pointer;line-height: inherit;}
.toggle-menu .toggle-caret .fa {width: 20px;text-align: center;font-size: 16px;color: inherit;line-height: 20px;}
.toggle-menu .active > .toggle-caret .fa:before { content: "\f068" } /*minus*/
.toggle-menu .toggle-caret:hover .fa {}
input, textarea, select {padding: 8px 12px;font-size: 14px;color: #444;border: 1px solid #E4E4E4;font-family: inherit;}
textarea {overflow: auto;resize: vertical;}
select {padding: 6px 10px;border-color: #D8D8D8;width: 100%;}
input:focus, textarea:focus {}
table {width: 100%;text-align: left;margin-bottom: 25px;border: 1px solid #E4E4E4;}
thead {background: #F7F8F9;font-size: 14px;color: #585F65;}
table th, table td {padding: 7px 15px;text-align: left;}
thead th { padding: 14px }
tbody th {font-weight: normal;border-bottom: 1px solid #E4E4E4;}
hr {border: none;border-bottom: 1px solid #E5E5E5;border-bottom: 1px solid rgba(0,0,0,0.1);width: 297px;margin: 20px 0;clear: both;position: relative;}
#sidebar .widget.widget_search, #sidebar .widget.pxl_subscribe_widget, #sidebar .widget.widget_product_search, #sidebar .widget { background: #fff; }
#sidebar .widget.widget_search h3 { color: #fff }
#searchform {padding: 0;float: left;clear: both;width: 100%;position: relative;}
.article #searchform { max-width: 300px }
#searchform fieldset { float: left }
.sbutton, #searchsubmit, .pxl-subscribe input[type="submit"], .widget_product_search input[type="submit"] {padding: 9px 0;float: right;width: 100%;height: 48px;cursor: pointer;text-align: center;padding-top: 10px;transition: all 0.25s linear;background: transparent;margin-top: 10px;border-radius: 3px;font-size: 14px;}
#s, .pxl-subscribe input[type="text"], .widget_product_search .search-field {width: 100%;background-color: #fff;float: left;padding: 15px 0;text-indent: 10px;color: #999;border: 1px solid #DDD;border-radius: 3px;box-shadow: 1px 1px 3px #EEE inset;box-sizing: border-box;}
::-webkit-input-placeholder { color: #999 }
:-moz-placeholder { color: #999 }
::-moz-placeholder { color: #999 }
:-ms-input-placeholder { color: #999 }
:input-placeholder { color: #999 }
input::-webkit-input-speech-button {margin-right: 14px;margin-left: 4px;cursor: pointer;}
#searchform fieldset { width: 100% }
.breadcrumb, .breadcrumb> div, .breadcrumb .fa-caret-right, .breadcrumb .root a { float: none }
.breadcrumb a { text-transform: capitalize }
.breadcrumb {clear: both;padding: 10px;overflow: hidden;margin-bottom: 15px;}
.breadcrumb> div {padding: 0 5px;overflow: hidden;float: none;display: inline-block;}
.breadcrumb .fa-caret-right { padding: 0 }
.breadcrumb .root { padding: 0 }
.breadcrumb .fa-caret-right { padding: 0 0 }
.breadcrumb> div { overflow: visible }
.no-results h2 { font-size: 16px }
.no-results h2 { font-size: 16px }
.read-more {margin: 0 0 0 10px;line-height: 1.4em;background: none;padding: 0;font-size: 16px;}
.topad {margin: 10px auto;clear: both;max-width: 100%;text-align: center;}
.bottomad {clear: both;margin: 10px auto;max-width: 100%;text-align: center;}
#sidebar p { line-height: 20px }
.sidebar.c-4-12 {float: right;width: 29.5%;max-width: 340px;}
#sidebar .wp-post-image, footer .wp-post-image {margin-top: 5px;margin-right: 10px;margin-left: 0;}
#sidebar .widget {margin-bottom: 27px;float: left;clear: both;width: 100%;background: #fff;padding: 20px;box-sizing: border-box;box-shadow: 0px 0px 1px 0px rgba(50, 50, 50, 0.1);}
.sidebar .widget h3 { text-transform: uppercase }
.widget .title {font-weight: bold;text-transform: uppercase;color: #545E68;font-size: 12px;}
.widget li {list-style-type: none;margin-left: 10px;margin-bottom: 10px;margin-top: 10px;}
.widget .children { margin-top: 7px;box-shadow: none !important; }
.widget h3 { margin: 0px 0 15px 0 }
footer .widget.widget_rss .widget-title a { color: #fff }
.advanced-recent-posts li, .popular-posts li, .category-posts li, .related-posts-widget li, .author-posts-widget li {list-style: none!important;margin: 0;overflow: hidden;transition: all 0.25s linear;background: none;margin: 0;}
#page .widget .horizontal-container-inner {border-bottom: 1px solid #eeeeee;padding: 5px 10px 10px 10px;}
.advanced-recent-posts li:last-child, .popular-posts li:last-child, .category-posts li:last-child, .related-posts-widget li:last-child, .author-posts-widget li:last-child { margin-bottom: 0 }
.advanced-recent-posts p, .popular-posts p, .category-posts p, .related-posts-widget p, .author-posts-widget p {margin: 0;font-size: 14px!important;}
.category-posts a, .advanced-recent-posts a, .popular-posts a, .related-posts-widget a, .author-posts-widget a { display: block }
.widget .meta, .widget .post-info {font-size: 11px!important;overflow: hidden;}
.widget .post-info {clear: none;width: auto;float: none;margin: 0;}
.widget .post-info > span {position: relative;margin-right: 12px;}
.widget .post-info > span:before {position: absolute;content: "";background: #777777;border-radius: 50%;width: 3px;height: 3px;top: 50%;margin-top: -2px;right: -10px;}
.widget .post-info > span:last-child:before { display: none }
.widget .thecomment .comm { color: #777!important }
#sidebar #sidebar-search { background: #222 }
#sidebar #sidebar-search h3, #sidebar .widget.widget_product_search h3, #sidebar .widget.pxl_subscribe_widget h3 { color: #fff }
.share-item.facebookbtn, .share-item.linkedinbtn, .share-item.stumblebtn { width: 92px }
.shareit {padding: 12px 0 7px;overflow: hidden;clear: both;border: none;}
.shareit.top {margin-bottom: 0!important;padding-top: 0!important;float: right;margin-top: -10px;}
.single_page .shareit.top {margin-top: -44px;}
.share-item {display: block;margin: 0;float: left;height: 25px;width: 90px;}
.share-item.shareit.top {float: left;margin-bottom: 10px!important;margin-top: 0;width: 100%;}
.share-item.facebookbtn, .share-item.facebooksharebtn {margin-top: -4px;width: 100px;height: 25px;}
.share-item.gplusbtn { width: 85px }
.share-item.pinbtn { margin-top: 0px }
.share-item.stumblebtn {margin-top: 1px;height: 24px;}
.social-profile-icons ul li {background: none;border: none;float: left;list-style-type: none;margin: 0 8px 8px 0!important;padding: 0 !important;border: none !important;}
.social-profile-icons ul li a {width: 32px;height: 32px;display: block;float: left;border-radius: 3px;text-align: center;line-height: 30px;color: #FFF!important;transition: all .4s;}
.sidebar .social-profile-icons ul li a:hover {color: #fff;background: #666;}
.sidebar .social-profile-icons ul li a { color: #fff }
.social-profile-icons ul li i {font-size: 16px;line-height: 32px;}
.social-profile-icons .social-youtube a { background: #c9322b }
.social-profile-icons .social-rss a { background: #ef922f }
.social-profile-icons .social-twitter a { background: #40bff5 }
.social-profile-icons .social-facebook a { background: #5d82d1 }
.social-profile-icons .social-gplus a { background: #eb5e4c }
.social-profile-icons .social-vimeo a { background: #35c6ea }
.social-profile-icons .social-dribbble a { background: #f7659c }
.social-profile-icons .social-tumblr a { background: #426d9b }
.social-profile-icons .social-instagram a { background: #91653f }
.social-profile-icons .social-flickr a { background: #ff48a3 }
.social-profile-icons .social-pinterest a { background: #e13138 }
.social-profile-icons .social-linkedin a { background: #238cc8 }
.social-profile-icons .social-github a { background: #b5a470 }
.social-profile-icons .social-email a { background: #1d90dd }
.social-profile-icons .social-behance a { background: #1879fd }
.social-profile-icons .social-skype a { background: #13c1f3 }
.social-profile-icons .social-soundcloud a { background: #ff7e30 }
.social-profile-icons .social-stumbleupon a { background: #ff5c30 }
.social-profile-icons .social-dropbox a { background: #3476e4 }
.social-profile-icons .social-foursquare a { background: #0bbadf }
.social-profile-icons .social-reddit a { background: #ff4400 }
footer {background: #222;margin-top: 30px;position: relative;overflow: hidden;clear: both;}
footer .container {padding: 0;width: 1152px;}
.footer-widgets {padding: 40px 0 10px 0;color: rgba(255, 255, 255, 0.25);overflow: hidden;}
.footer-widgets .f-widget {width: 32%;margin-right: 2%;float: left;}
.f-widget .widget {margin-bottom: 30px;float: left;width: 100%;clear: both;}
.footer-widgets .f-widget #searchform .fa-search:hover { cursor: pointer }
.f-widget a { color: rgba(255, 255, 255, 0.45) }
.f-widget ul li { margin-bottom: 5px }
.f-widget .top-week li a { font-size: 15px }
.f-widget #s { border: 1px solid rgba(255, 255, 255, 0.05) }
.f-widget #s::-webkit-input-speech-button { margin-right: 8px }
.f-widget #searchform .fa-search {background: rgba(255, 255, 255, 0.2);color: rgba(255, 255, 255, 0.2);}
.footer-widgets.widgets-num-3 .f-widget.last { margin-right: 0 }
.widgets-num-4 .f-widget {width: 22.7%;margin-right: 3%;}
.widgets-num-4 .f-widget.last { margin-right: 0 }
.f-widget .ajax-search-results-container {background: #1c1c1c;color: #a5a5a5;}
.f-widget .ajax-search-results-container.loading:after { background-color: rgba(0,0,0,0.8) }
.f-widget .ajax-search-results-container a { color: #fff }
.copyrights {float: left;width: 100%;clear: both;padding-bottom: 17px;padding-top: 20px;background: #fff;}
#copyright-note {width: 100%;margin: 0 auto;clear: both;max-width: 100%;}
.postsby { margin-bottom: 25px }
.to-top {float: right;position: relative;}
.toplink .fa-angle-double-up {font-size: 24px;position: absolute;right: 0;top: 0px;}
.toplink { padding-right: 27px }
#move-to-top {color: #fff;cursor: pointer;display: inline-block;font-weight: bold;height: 12px;padding: 10px 10px 18px 10px;position: fixed;right: 15px;bottom: 10px;transition: all 0.25s linear 0s;width: 20px;z-index: 25;background: #222;text-align: center;border-radius: 3px;}
#move-to-top:not(.filling) {opacity: 0;visibility: hidden;}
#move-to-top .fa-angle-double-up { font-size: 22px }
.related-posts {background-color: #FFF;margin-bottom: 20px;clear: both;float: left;width: 100%;}
.related-posts h4 { font-size: 30px }
.related-posts article {width: 30.5%;margin-right: 3.5%;float: left;margin-bottom: 15px;}
.related-posts #featured-thumbnail { margin-bottom: 0 }
.related-posts article:nth-child(7n-3) { clear: left }
.related-posts .post-info {clear: none;float: none;}
.related-posts .last {margin-right: 0;padding-bottom: 0;}
.related-posts .title {font-size: 16px;margin-top: 10px;}
.related-posts .title a {font-size: 16px!important;color: #222!important;font-weight: 400!important;}
.related-posts .title a:hover { color: #0274be!important }
.related-posts article header{margin-bottom: 0;height: 100px;max-height: 100px;}
.related-posts .wp-post-image{padding:0;}
.tags {margin: 20px 0 0 0;width: 100%;float: left;}
.tags a { margin-left: 5px }
.postauthor {margin: 30px 0 30px -2.6%;padding: 70px 2.4% 0 2.4%;min-height: 180px;background-color: #222;float: left;clear: both;width: 100%;color: #AAA;position:relative;}
.postauthor h4 {padding-top: 6px;padding-bottom: 6px;color: #fff;}
.postauthor .about-author-title{display: block;text-align: center;font-style: italic;font-family: Lora;}
.postauthor h5 {font-size: 22px;padding: 0;margin: 0;line-height: 24px;text-transform: uppercase;font-weight: 100;display: block;text-align: center;letter-spacing: 3px;}
.postauthor p {text-align: center;}
.postauthor img {margin-left: -55px;border-radius: 100%;position: absolute;border: 2px solid #fff;width: 110px;left: 50%;top: -55px;box-shadow: 0 0.2rem 1.9rem 0 rgba(0,0,0,.12);}
.postauthor h4 a { color: #473636 }
.author-social-profile {width: 100%;margin: 0 auto;color: #fff;text-align: center;}
.author-social-profile a {color: #fff;padding: 6px;border: 1px solid;border-radius: 15px;margin: 0 2px;}
.author-social-profile a:hover {color: rgba(255,255,255,0.5);}
.author-social-profile a i {width: 17px;}

#respond h4, .total-comments, .postauthor h4, .postauthor-top {margin-bottom: 10px;margin-top: 1px;font-size: 30px;}
.postauthor-top {padding-top: 5px;padding-bottom: 8px;margin-bottom: 15px;}
.clear { clear: both }
.left { float: left }
.right { float: right }
.last { margin-right: 0 }
.tagcloud a {font-size: initial!important;padding: 2px 10px;margin-bottom: 3px;float: left;margin-right: 3px;background: #222;color: #FFFFFF!important;transition: all 0.25s linear;border-radius: 3px;}
.tagcloud a:hover, .widget .wpt_widget_content #tags-tab-content ul li a:hover { background: #222 }
.ad-125 ul {float: left;width: 100%;margin: 0;list-style: none;max-width: 100%;}
.ad-125 li {float: left;border: none;list-style: none!important;padding-left: 0;background: none;margin-bottom: 15px;margin-left: 0;max-width: 48%;}
.ad-125 li:nth-child(2n+2) { float: right!important }
.ad-125 li:nth-last-child(2), .ad-125 li:last-child { margin-bottom: 5px; }
.ad-125 li.oddad{padding-left: 10px;}
.ad-125 li.evenad{padding-right: 10px;}
#wp-calendar {margin-bottom: 0;background: #fff;border: 0;}
#wp-calendar td {text-align: center;padding: 7px 0;border-top: 1px solid #EDEDED;border-right: 1px solid #EDEDED;}
#wp-calendar caption {padding-bottom: 10px;padding-top: 12px;font-weight: bold;font-size: 15px;color: #FFF;text-transform: uppercase;background: #222;padding: 12px 15px;text-align: left;}
#wp-calendar #prev {text-align: left;padding-left: 12px;}
#wp-calendar thead th {padding: 10px 0;text-align: center;}
footer #wp-calendar {background: rgba(255, 255, 255, 0.05);box-shadow: none;}
footer #wp-calendar caption { background: rgba(255, 255, 255, 0.05) }
#wp-calendar td { border-color: rgba(255, 255, 255, 0.05) }
#wp-calendar tbody tr:nth-child(1) td { border-top: 0 }
.nocomments {margin-top: 20px;clear: both;float: left;width: 100%;}
.total-comments {padding-top: 7px;padding-bottom: 9px;}
.cnumber { color: #2DB2EB }
#comments {padding: 10px;background-color: #fff;margin-top: 0;float: left;clear: both;width: 98%;}
#respond h4 {padding-top: 5px;padding-bottom: 7px;}
#commentsAdd {background-color: #fff;width: 98%;float: left;clear: both;margin-top: 30px;padding:10px;}
#comments .avatar {float: left;margin-right: 20px;margin-top: 7px;}
.comment time { padding-left: 10px }
ul.children .commentImageLeft {width: 60px;height: 90px;border-left: 1px solid #c1bbb6;border-bottom: 1px solid #c1bbb6;position: absolute;top: -50px;left: -70px;}
input.text-input, #commentform input {padding: 11px;font-weight: inherit;}
input#author, input#email, input#url {max-width: 300px;border: 1px solid #E4E4E4;background: #fff;max-width: 100%;margin-right: 10px;}
input#author, input#email, input#url, #comment { transition: all 0.25s ease-in-out }
#cancel-comment-reply-link {float: right;line-height: 24px;margin-top: 0;}
#cancel-comment-reply-link {color: #EE210B;cursor: pointer;margin-bottom: -20px;text-decoration: underline;z-index: 100;position: relative;}
#commentform input#submit, #pxl_contact_submit {line-height: 1;background-color: #0274BE;padding: 12px 15px;color: #fff;text-decoration: none;float: right;cursor: pointer;display: inline-block;border: none;transition: all 0.2s linear;border-radius: 3px;}
#commentform input#submit:hover, #pxl_contact_submit:hover {background: #222;color: #fff;}
#pxl_contact_submit {float: right;width: auto;}
.error { color: red }
.thanks p { color: green }
ol.commentlist {margin-left: 0;margin-top: 13px;padding: 0;}
.commentlist li {list-style: none;margin: 0;padding-left: 0;float: left;width: 100%;position: relative;}
.commentlist > li { margin: 0 0 30px 0 }
.commentlist p { margin-bottom: 5px }
.ago {color: #999;text-transform: uppercase;font-size: 12px;}
.fn {line-height: 1.375em;font-weight: bold;}
.fn a {color: #EE210B;font-weight: bold;font-size: 15px;}
.comment-meta { font-size: 12px }
.commentmetadata { overflow: hidden }
.commentmetadata li {border: 0;padding: 0;margin-top: 0;margin-bottom: 5px;list-style: square;}
.commentmetadata ol li { list-style: decimal }
#commentform .wp-review-comment-field a i, #commentform .wp-review-comment-field .review-result i, .comment .wp-review-comment-rating .review-result i, .comment .wp-review-comment-rating a i { color: #FFB300!important }
.reply {margin-top: 0px;padding-bottom: 0px;overflow: hidden;width: 100%;float: right;}
.reply a {font-weight: bold;float: left;padding: 0 0px;color: #BDBDBD;font-size: 12px;}
#commentsAdd #respond h4 { margin-bottom: 19px }
.comment #respond #respond { margin-top: 20px }
.commentlist .children {margin-left: 10%;margin-bottom: 0;margin-top: 0;float: left;width: 90%;box-sizing: border-box;margin-top: 30px;}
.commentlist .children > li {margin-top: 15px;margin-bottom: 15px;}
.commentlist .children > li:first-child { margin-top: 0 }
.commentlist .children > li:last-child { margin-bottom: 0 }
.commentlist .children li { padding-bottom: 0 }
.avatar { float: left }
#respond h3 {font-size: 18px;margin: 0;padding: 0;}
.comment-awaiting-moderation {font-style: italic;font-weight: bold;}
.commentmetadata ul, .commentmetadata ol { margin-top: 5px }
#commentform textarea {width: 95.5%;border: 1px solid #E4E4E4;background: #fff;padding: 2%;line-height: 25px;font-family: inherit;}
#commentform p {margin-bottom: 15px;float: left;width: 100%;clear: both;}
#commentform p.form-submit { margin-bottom: 0 }
#commentform p label {padding-bottom: 5px;padding-top: 5px;padding-left: 10px;}
.cancel-comment-reply a {float: right;margin-top: -8px;}
.required {color: red;padding: 0;line-height: 1;}
.comment-notes .required {padding-left: 0;padding-top: 3px;}
.comment-notes {font-style: italic;margin-top: 5px;}
.pagination {clear: both;overflow: hidden;float: left;width: 100%;margin-top: 25px;margin-bottom: 0;display: block!important;}
.single .pagination {border: 0;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;margin-top: 0;padding: 2.2% 0;width: 100%;}
.pagination ul {list-style: none;margin: 0;padding: 0;}
.pagination ul li {float: left;margin-bottom: 5px;}
.page-numbers.current, .pagination a:hover {color: #fff;margin: 0 5px 0 0;display: inline-block;float: left;line-height: 1;text-decoration: none;padding: 10px 13px;background: #000544;min-width: 36px;box-sizing: border-box;border-radius: 3px;text-align: center;}
.pagination a, #load-posts a, .single .pagination > .current .currenttext, .pagination .page-numbers.dots {background: #222;margin: 0 5px 0 0;display: inline-block;float: left;line-height: 1;text-decoration: none;color: #fff;padding: 10px 13px;min-width: 36px;box-sizing: border-box;border-radius: 3px;text-align: center;}
#load-posts {float: left;width: 100%;text-align: center;}
#load-posts .fa, #fs2_load_more_button .fa { margin-right: 5px }
.pagination a:hover { color: #fff }
.pagination .nav-previous { float: left }
.pagination .nav-next { float: right }
.pagination .nav-previous a, .pagination .nav-next a { color: #fff!important }
.pagination  .nav-previous a:hover, .pagination .nav-next a:hover { background-color: #222 }
.single .pagination a .currenttext, .single .pagination a .current {padding: 0;background: rgba(0, 0, 0, 0)!important;margin-right: 0;}
.single .pagination a:hover .currenttext { color: #fff }
.screen-reader-text {clip: rect(1px, 1px, 1px, 1px);position: absolute !important;height: 1px;width: 1px;overflow: hidden;}
.contact-form { position: relative }
.contact-form.loading:after {content: "";display: block;position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgba(255, 255, 255, 0.8);}
.contact-form label, .contact-form input, .contact-form textarea {display: block;width: 100%;box-sizing: border-box;}
.contact-form input { max-width: 300px }
.contact-form textarea { height: 150px }
.contact-form label { margin-top: 12px }
.contact-form input[type="submit"] { margin-top: 12px }
.pxl_contact_error { color: #B90101 }
.widget_search { overflow: visible }
ul.ajax-search-results{width: 298px !important;position: relative !important;}
.ajax-search-box-open #s { border-bottom: 1px solid #fff }
.ajax-search-results-container {position: absolute;top: 45px;left: 0;box-sizing: border-box;width: 100%;z-index: 9;background: #FFF;border-top: none;box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);}
.ajax-search-results-container.loading:after {content: "";display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: rgba(255,255,255,0.8);}
ul.ajax-search-results {margin: 0;padding: 0;}
.ajax-search-results li {margin: 0;display: block;list-style: none;min-height: 85px;padding: 0 8px;}
.ajax-search-results .wp-post-image {margin-bottom: 0;margin-top: 5px;margin-right: 10px;margin-left: 0;float: left;}
.ajax-search-meta {margin: 6px 8px;height: 20px;font-size: 13px;}
.ajax-search-meta .results-count {float: left;color: #aaa;}
.ajax-search-meta .results-link { float: right;color:#aaa; padding: 0 !important; }
.ajax-search-results-container .no-results {padding: 8px;color: #AAA;font-style: italic;}
.pace .pace-progress {background: #29d;position: fixed;z-index: 2000;top: 0;left: 0;height: 3px;transition: width 0.8s;}
.admin-bar .pace .pace-progress { top: 32px }
.pace-inactive { display: none }
#load-posts a {font-weight: bold;margin: 0;float: none;}
#load-posts a.inactive { cursor: default }
pre {overflow: auto;padding: 25px 15px 15px;margin: 15px 0;position: relative;background: #222;font-family: monospace;color: #aaa;box-sizing: border-box;}
pre:before {content: "\f121";color: #FFF;position: absolute;font-size: 18px;right: 14px;top: 6px;font-family: fontawesome;}
.flex-video {position: relative;padding-bottom: 56.25%;padding-top: 30px;margin-bottom: 30px;height: 0;overflow: hidden;}
.flex-video iframe, .flex-video object, .flex-video embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#parallax, #zoom-out-effect, #zoom-out-bg {position: relative;padding-bottom: 450px;height: 0;overflow: hidden;background-size: cover;margin-bottom: 15px;}
#page.parallax, #page.zoomout { padding-top: 15px }
.latestPost-review-wrapper {position: absolute;top: 0;right: 0;background: #FFF;padding: 2px 8px;}
.latestPost-review-wrapper .review-total-star { margin: 4px 0 }
.latestPost-review-wrapper .review-result i, #wpmm-megamenu .review-result-wrapper i, #wpmm-megamenu .review-total-only { color: #fff }
.latestPost-review-wrapper .percentage-icon {top: 0;font-size: inherit;font-style: normal;}
.latestPost .review-type-circle.latestPost-review-wrapper { height: 36px }
#wpmm-megamenu .review-total-only .review-type-circle.review-total-only, #wpmm-megamenu .review-type-circle.wp-review-show-total { height: 26px }
.navigation .wpmm-megamenu-showing.wpmm-light-scheme a { color: #fff!important }
.widget .widget_wp_review_tab .review-total-only.large-thumb {top: 15px;right: 15px;}
.widget .wp_review_tab_widget_content ul.wp-review-tabs li, .widget .wp_review_tab_widget_content, .widget .wpt_widget_content ul.wpt-tabs li {border: none;overflow: hidden;}
.widget .wp_review_tab_widget_content .tab-content li, .sidebar .wpt_widget_content .tab-content li {border-bottom: 0;padding: 0;margin-bottom: 15px;}
.widget .wp_review_tab_widget_content .entry-title, .sidebar .wpt_widget_content a { font-weight: normal }
.widget .wp_review_tab_widget_content .wp-review-tabs.has-4-tabs .tab_title a, .widget .wpt_widget_content .wpt-tabs.has-4-tabs .tab_title a {border-bottom: 1px solid #1B1B1B;border-left: 1px solid #1B1B1B;}
.widget .wp_review_tab_widget_content .wp-review-tabs.has-4-tabs .tab_title:nth-child(2n) a, .widget .wpt_widget_content .wpt-tabs.has-4-tabs .tab_title:nth-child(2n) a { border-right: none }
.widget .wpt_widget_content .tab_title a, .widget .wp_review_tab_widget_content .tab_title a {background: #333;color: #7E7D7D;border: none;padding: 14px 0;line-height: 1;margin: 0;white-space: nowrap;border-left: 1px solid #1B1B1B;}
.widget .wpt_widget_content .tab_title.selected a, .widget .wp_review_tab_widget_content .tab_title.selected a {background: #222;color: #fff;border-bottom: 0;}
.widget .wpt_widget_content #tags-tab-content ul li { float: left }
.wpt_widget_content #tags-tab-content ul li a {font-size: initial;border-radius: 3px;}
.widget .wpt_widget_content .pagination, .widget .wp_review_tab_widget_content .pagination { padding-bottom: 15px }
.widget .review-total-only.small-thumb, .widget .review-total-only {font-size: 13px;padding: 0;color: #222;background: transparent;}
footer .widget .review-total-only.small-thumb, footer .widget .review-total-only { color: #777 }
.widget .review-total-only.large-thumb, .widget li:first-child .review-total-only.large-thumb { right: 0 }
footer .widget .review-total-only.large-thumb, footer .widget li:first-child .review-total-only.large-thumb {top: 15px;right: 15px;}
.widget .review-total-only.large-thumb {padding: 4px 10px;background: #222;color: #fff;}
footer .review-total-only.small-thumb .review-result-wrapper i { color: #fff!important }
.sidebar .widget .wpt_widget_content ul.has-4-tabs li { border-bottom: 0 }
.widget .wpt_widget_content #tags-tab-content ul {box-shadow: none;padding: 0;padding-top: 5px;}
.widget .wpt_widget_content { border: 0 }
footer .widget .wp_review_tab_widget_content .inside, footer .widget .wpt_widget_content .inside {background: rgba(255, 255, 255, 0.05);padding: 0;}
footer .widget .wp_review_tab_widget_content .tab-content li, footer .widget .wpt_widget_content .tab-content li {border-bottom-color: rgba(255, 255, 255, 0.05);padding: 15px;margin-bottom: 0;}
.widget .wpt_widget_content .wpt-postmeta, .widget .wpt_comment_content, .widget .wpt_excerpt, .widget .wp_review_tab_widget_content .wp-review-tab-postmeta {color: #aaa;font-size: 14px!important;line-height: 1.6;overflow: hidden;}
footer .widget .wpt_widget_content .wpt-postmeta, footer .widget .wpt_comment_content, footer .widget .wpt_excerpt, footer .wp_review_tab_widget_content .wp-review-tab-postmeta { color: rgba(255, 255, 255, 0.25) }
.widget .has-4-tabs .wpt_widget_content .tab_title a, .widget .has-4-tabs .wp_review_tab_widget_content .tab_title a {background: #333;border-left: 1px solid #1B1B1B;border-bottom: 1px solid #1B1B1B;}
footer .widget .wpt_widget_content .tab_title.selected a, footer .widget .wp_review_tab_widget_content .tab_title.selected a {background: rgba(255, 255, 255, 0.20);color: #fff;}
footer .widget .wp_review_tab_widget_content .tab-content li:first-child, footer .widget .wpt_widget_content .tab-content li:first-child { padding-top: 15px }
footer .widget .wpt_widget_content .has-4-tabs .tab_title:nth-child(2n+1) a, footer .widget .wp_review_tab_widget_content .has-4-tabs .tab_title:nth-child(2n+1) a { border-left: 0 }
.widget .wpt_widget_content .wpt-pagination, .widget .wp_review_tab_widget_content .wp-review-tab-pagination { padding-bottom: 0 }
.widget .wpt_widget_content .wpt-pagination a, .widget .wp_review_tab_widget_content .wp-review-tab-pagination a { margin: 0 }
footer .widget .wpt_widget_content .wpt-pagination a, footer .widget .wp_review_tab_widget_content .wp-review-tab-pagination a { padding: 15px }
.pxl-cart {z-index: 1;float: right;color: #777;}
#primary-navigation .pxl-cart span a {display: inline-block;padding: 17px 15px 16px 3px;}
#primary-navigation .pxl-cart > span:last-child a { padding-right: 0 }
.primary-slider-container {float: left;width: 100%;margin-left: 0;margin-top: 0;max-width: 772px;}
.primary-slider-container.fullwidth {float: left;width: 113.53%;margin-left: 0;margin-top: 0;max-width: 100%;}
.primary-slider { margin-bottom: 0px }
.primary-slider .slide-caption {overflow: hidden;background: rgba(0, 0, 0, 0.24);color: #fff;width: 91.5%;padding: 1.2%;padding-top: 8px;padding-bottom: 8px;float: left;max-height: 255px;position: absolute;bottom: 7%;left: 3%;text-align: center;}
.primary-slider .slide-title {font-size: 32px;font-weight: normal;padding: 0;margin-bottom: 0;color: #fff;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);}
.primary-slider .owl-dots {bottom: inherit;top: 8%;margin: 0!important;right: 3%;}
.primary-slider .owl-controls .owl-dot { cursor: pointer }
.primary-slider .owl-controls .owl-dot span {background: #555;border-radius: 0;cursor: pointer;}
.primary-slider .owl-controls .owl-dot.active span, .primary-slider .owl-controls .owl-dot:hover span {background: #FFF;transition: all 0.25s ease;}
.primary-slider .owl-controls .owl-dot.active span { cursor: default }

/*CSS Effect*/
#menu-main-menu > li {display: inline-block;list-style: outside none none;padding: 0;}
#menu-main-menu > li > a {color: rgba(255, 255, 255, 0.8);position: relative;letter-spacing: 1px;text-decoration: none;}
#menu-main-menu > li > a:before,#menu-main-menu > li > a:after {position: absolute;-webkit-transition: all 0.35s ease;transition: all 0.35s ease;}
#menu-main-menu > li > a:before {top: 0;left: 0;display: block;height: 3px;width: 0%;content: "";background-color: #ffffff;}
#menu-main-menu > li > a:after {color: #ffffff;white-space: nowrap;overflow: hidden;}
#menu-main-menu > li > a:hover:before,#menu-main-menu .current-menu-item > li > a:before {opacity: 1;width: 100%;}
#menu-main-menu > li > a:hover:after,#menu-main-menu .current-menu-item > li > a:after {max-width: 100%;}

/*Social Sharing Buttons*/
.resp-sharing-button__link,.resp-sharing-button__icon {display: inline-block}
.resp-sharing-button__link {text-decoration: none;color: #fff;margin: 0.2em}
.resp-sharing-button {border-radius: 5px;transition: 25ms ease-out;padding: 0.5em 0.75em;font-family: Helvetica Neue,Helvetica,Arial,sans-serif}
.resp-sharing-button__icon svg {width: 1em;height: 1em;margin-right: 0.4em;vertical-align: top}
.resp-sharing-button--small svg {margin: 0;vertical-align: middle}
.resp-sharing-button__icon {stroke: #fff;fill: none}
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {fill: #fff;stroke: none}
.resp-sharing-button--twitter {background-color: #55acee}
.resp-sharing-button--twitter:hover {background-color: #2795e9}
.resp-sharing-button--pinterest {background-color: #bd081c}
.resp-sharing-button--pinterest:hover {background-color: #8c0615}
.resp-sharing-button--facebook {background-color: #3b5998}
.resp-sharing-button--facebook:hover {background-color: #2d4373}
.resp-sharing-button--tumblr {background-color: #35465C}
.resp-sharing-button--tumblr:hover {background-color: #222d3c}
.resp-sharing-button--reddit {background-color: #5f99cf}
.resp-sharing-button--reddit:hover {background-color: #3a80c1}
.resp-sharing-button--google {background-color: #dd4b39}
.resp-sharing-button--google:hover {background-color: #c23321}
.resp-sharing-button--linkedin {background-color: #0077b5}
.resp-sharing-button--linkedin:hover {background-color: #046293}
.resp-sharing-button--email {background-color: #777}
.resp-sharing-button--email:hover {background-color: #5e5e5e}
.resp-sharing-button--xing {background-color: #1a7576}
.resp-sharing-button--xing:hover {background-color: #114c4c}
.resp-sharing-button--whatsapp {background-color: #25D366}
.resp-sharing-button--whatsapp:hover {background-color: #1da851}
.resp-sharing-button--hackernews {background-color: #FF6600}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }
.resp-sharing-button--vk {background-color: #507299}
.resp-sharing-button--vk:hover {background-color: #43648c}
.resp-sharing-button--facebook {background-color: #3b5998;border-color: #3b5998;}
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {background-color: #2d4373;border-color: #2d4373;}
.resp-sharing-button--twitter {background-color: #55acee;border-color: #55acee;}
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {background-color: #2795e9;border-color: #2795e9;}
.resp-sharing-button--tumblr {background-color: #35465C;border-color: #35465C;}
.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {background-color: #222d3c;border-color: #222d3c;}
.resp-sharing-button--email {background-color: #777777;border-color: #777777;}
.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {background-color: #5e5e5e;border-color: #5e5e5e;}
.resp-sharing-button--pinterest {background-color: #bd081c;border-color: #bd081c;}
.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {background-color: #8c0615;border-color: #8c0615;}
.resp-sharing-button--linkedin {background-color: #0077b5;border-color: #0077b5;}
.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {background-color: #046293;border-color: #046293;}
.resp-sharing-button--whatsapp {background-color: #25D366;border-color: #25D366;}
.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {background-color: #1DA851;border-color: #1DA851;}
.resp-sharing-button--telegram {background-color: #54A9EB;}
.resp-sharing-button--telegram:hover {background-color: #4B97D1;}

.spicewpsearchform{display: block;width: 300px;position: absolute;right: 0;top: 100%;margin-top: 1px;z-index: 9999;}
#spicewpsearchform input[type="text"] {width: 100%;height: auto;border: 1px solid #5ca2df;padding: 11px 12px;border-radius: 0px !important; }
#spicewpsearchform input[type="submit"] {line-height: 1;padding: 14px 20px;border-radius: 0px;height: auto;font-size: 15px;display: inline-block;border: 1px solid #5ca2df;}
#spicewpsearchform:before {border-color: transparent transparent #d05353;border-style: solid;border-width: 0.5em;content: "";display: block;position: absolute;right: 22px;top: -20px;z-index: 10;}
.search_icon{cursor: pointer;}

/*Star Ratings*/
#pxl-rate-it{display:none!important}.pxl-rating-stars{font-size:12px}#content_box .pxl-rating-stars{font-size:16px}.pxl-rating-stars i{margin-right:2px;color:#d2d2d2}.pxl-rating-stars i.rated:after{color:#edb867}.pxl-stars-avg-rating{margin:0;clear:both;text-align:center}.advanced-recent-posts .pxl-stars-avg-rating,.author-posts-widget .pxl-stars-avg-rating,.category-posts .pxl-stars-avg-rating,.popular-posts .pxl-stars-avg-rating,.related-posts-widget .pxl-stars-avg-rating,.tab-content .pxl-stars-avg-rating.fastpixel-widgetthumb{text-align:left;margin:0;clear:none}.pxl-rating-stars i:after{content:'\f006';color:#d2d2d2}.pxl-rating-stars i.stars-style-solid:after{content:'\f005'}.comment #respond #pxl-stars-rating-review{display:none}#pxl-stars-rating-review .br-widget{height:28px;white-space:nowrap}#pxl-stars-rating-review .br-widget a{font:normal normal normal 20px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;text-decoration:none;margin-right:2px}#pxl-stars-rating-review .br-widget a.br-active:after{color:#edb867}#pxl-stars-rating-review .br-widget a.br-selected:after{color:#edb867}#pxl-stars-rating-review .br-widget .br-current-rating{display:none}#pxl-stars-rating-review .br-readonly a{cursor:default}#pxl-stars-rating-review .br-widget a:after{content:'\f006';color:#d2d2d2}#pxl-stars-rating-review .stars-style-solid .br-widget a:after{content:'\f005'}@media print{#pxl-stars-rating-review .br-widget a:after{content:'\f005';color:#000}#pxl-stars-rating-review .br-widget a.br-active:after,#pxl-stars-rating-review .br-widget a.br-selected:after{content:'\f005';color:#000}}.br-theme-fontawesome-stars .br-widget{height:28px;white-space:nowrap}.br-theme-fontawesome-stars .br-widget a{font:normal normal normal 20px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;text-decoration:none;margin-right:2px}.br-theme-fontawesome-stars .br-widget a:after{content:'\f006';color:#d2d2d2}.br-theme-fontawesome-stars .br-widget a.br-active:after{color:#edb867}.br-theme-fontawesome-stars .br-widget a.br-selected:after{color:#edb867}.br-theme-fontawesome-stars .br-widget .br-current-rating{display:none}.br-theme-fontawesome-stars .br-readonly a{cursor:default}@media print{.br-theme-fontawesome-stars .br-widget a:after{content:'\f006';color:#000}.br-theme-fontawesome-stars .br-widget a.br-active:after,.br-theme-fontawesome-stars .br-widget a.br-selected:after{content:'\f006';color:#000}}#pxl-stars-rating-review .br-widget{height:28px;white-space:nowrap}#pxl-stars-rating-review .br-widget a{font:normal normal normal 20px/1 FontAwesome;text-rendering:auto;-webkit-font-smoothing:antialiased;text-decoration:none;margin-right:2px}#pxl-stars-rating-review .br-widget a.br-active:after{color:#edb867}#pxl-stars-rating-review .br-widget a.br-selected:after{color:#edb867}#pxl-stars-rating-review .br-widget .br-current-rating{display:none}#pxl-stars-rating-review .br-readonly a{cursor:default}#pxl-stars-rating-review .br-widget a:after{content:'\f006';color:#d2d2d2}#pxl-stars-rating-review .stars-style-solid .br-widget a:after{content:'\f005'}@media print{#pxl-stars-rating-review .br-widget a:after{content:'\f005';color:#000}#pxl-stars-rating-review .br-widget a.br-active:after,#pxl-stars-rating-review .br-widget a.br-selected:after{content:'\f005';color:#000}}
/*Owl Carousel*/
.animated{-webkit-animation-duration:1000 ms;animation-duration:1000 ms;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-animated-out{z-index:1}.owl-animated-in{z-index:0}.fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel{display:none;nowhitespace:afterproperty;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;nowhitespace:afterproperty;overflow:hidden;-webkit-transform:translate3d(0,0,0);clear:both}.owl-carousel .owl-controls .owl-dot,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-nav .owl-prev,.slider-nav-item{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel .owl-refresh .owl-item{display:none}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-item img{display:block;width:100%;max-width:100%;-webkit-transform-style:preserve-3d}.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto}.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img{-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-backface-visibility:hidden}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:scale .1s ease}.owl-carousel .owl-video-play-icon:hover{transition:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1}.slide-caption{overflow:hidden;background:rgba(255,255,255,.79);color:#795e4b;width:50%;padding:1.2%;padding-top:8px;padding-bottom:8px;float:left;max-height:255px;position:absolute;bottom:8%;left:3%;-webkit-backface-visibility:hidden}.slide-title{float:none;font-size:16px;font-weight:400;padding:0;margin-bottom:0}.owl-dots{position:absolute;bottom:8%;right:3%;text-align:center;box-sizing:border-box}.owl-controls .owl-dot{display:inline-block;margin:0 2px;zoom:1}.owl-controls .owl-dot span{display:block;width:11px;height:11px;background-color:#a5a5a5;cursor:pointer;border-radius:20px}.owl-controls .owl-dot.active span,.owl-controls .owl-dot:hover span{background-color:#fff}.owl-next,.owl-prev{position:absolute;display:inline-block;top:50%;margin-top:-18px;text-align:center;font-size:28px;width:36px;line-height:36px;color:#fff;background-color:#444}.owl-prev{left:0}.owl-next{right:0}.owl-next:hover,.owl-prev:hover{background-color:#3d8fe8}.owl-nav .fa{line-height:36px}.owl-controls .disabled{display:none!important}.primary-slider-container img[src=""],.slider-container img[src=""]{display:none!important}.primary-slider-container.loading .owl-carousel,.slider-container.loading .owl-carousel{display:none}.primary-slider-container.loading:before,.slider-container.loading:before{content:"Loading Slider...";font-size:20px;font-weight:700;margin:0;display:block;position:relative;text-align:center;text-transform:uppercase;padding-top:30px;padding-bottom:10px}.primary-slider{float:left}.primary-slider-container.loading a{display:none!important}.primary-slider-container.loading a img.slide-first-img{display:block!important}.primary-slider-container img[src=""]{display:none!important}.widget-slider{position:relative}#sidebars .widget-slider .wp-post-image{width:100%;margin:0}.widget_pxl_post_slider_widget .owl-controls{bottom:0}.widget-slider .slide-caption{position:absolute;top:0;bottom:auto;right:0;left:0;width:100%;background:#ccc}.widget-slider .owl-dots{right:0;width:100%;padding:0 8%}.widget-slider .slider-title{overflow:hidden;bottom:0;background:#444;color:#fff;box-sizing:border-box;padding:10px;width:100%;clear:both}
/*Font Awesome*/
@font-face{font-family:'FontAwesome';src:url('fonts/fontawesome-webfont.eot');src:url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/fontawesome-webfont.woff2') format('woff2'),url('fonts/fontawesome-webfont.woff') format('woff'),url('fonts/fontawesome-webfont.ttf') format('truetype'),url('fonts/fontawesome-webfont.svg') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.fa-lg{font-size:1.33333333em;line-height:.75em;vertical-align:-15%}.fa-2x{font-size:2em}.fa-3x{font-size:3em}.fa-4x{font-size:4em}.fa-5x{font-size:5em}.fa-fw{width:1.28571429em;text-align:center}.fa-ul{padding-left:0;margin-left:2.14285714em;list-style-type:none}.fa-ul>li{position:relative}.fa-li{position:absolute;left:-2.14285714em;width:2.14285714em;top:.14285714em;text-align:center}.fa-li.fa-lg{left:-1.85714286em}.fa-border{padding:.2em .25em .15em;border:solid .08em #eee;border-radius:.1em}.fa-pull-left{float:left}.fa-pull-right{float:right}.fa.fa-pull-left{margin-right:.3em}.fa.fa-pull-right{margin-left:.3em}.pull-right{float:right}.pull-left{float:left}.fa.pull-left{margin-right:.3em}.fa.pull-right{margin-left:.3em}.fa-spin{-webkit-animation:fa-spin 2s infinite linear;animation:fa-spin 2s infinite linear}.fa-pulse{-webkit-animation:fa-spin 1s infinite steps(8);animation:fa-spin 1s infinite steps(8)}@-webkit-keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes fa-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fa-rotate-90{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}.fa-rotate-180{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.fa-rotate-270{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);transform:rotate(270deg)}.fa-flip-horizontal{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";-webkit-transform:scale(-1, 1);-ms-transform:scale(-1, 1);transform:scale(-1, 1)}.fa-flip-vertical{-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";-webkit-transform:scale(1, -1);-ms-transform:scale(1, -1);transform:scale(1, -1)}:root .fa-rotate-90,:root .fa-rotate-180,:root .fa-rotate-270,:root .fa-flip-horizontal,:root .fa-flip-vertical{filter:none}.fa-stack{position:relative;display:inline-block;width:2em;height:2em;line-height:2em;vertical-align:middle}.fa-stack-1x,.fa-stack-2x{position:absolute;left:0;width:100%;text-align:center}.fa-stack-1x{line-height:inherit}.fa-stack-2x{font-size:2em}.fa-inverse{color:#fff}.fa-glass:before{content:"\f000"}.fa-music:before{content:"\f001"}.fa-search:before{content:"\f002"}.fa-envelope-o:before{content:"\f003"}.fa-heart:before{content:"\f004"}.fa-star:before{content:"\f005"}.fa-star-o:before{content:"\f006"}.fa-user:before{content:"\f007"}.fa-film:before{content:"\f008"}.fa-th-large:before{content:"\f009"}.fa-th:before{content:"\f00a"}.fa-th-list:before{content:"\f00b"}.fa-check:before{content:"\f00c"}.fa-remove:before,.fa-close:before,.fa-times:before{content:"\f00d"}.fa-search-plus:before{content:"\f00e"}.fa-search-minus:before{content:"\f010"}.fa-power-off:before{content:"\f011"}.fa-signal:before{content:"\f012"}.fa-gear:before,.fa-cog:before{content:"\f013"}.fa-trash-o:before{content:"\f014"}.fa-home:before{content:"\f015"}.fa-file-o:before{content:"\f016"}.fa-clock-o:before{content:"\f017"}.fa-road:before{content:"\f018"}.fa-download:before{content:"\f019"}.fa-arrow-circle-o-down:before{content:"\f01a"}.fa-arrow-circle-o-up:before{content:"\f01b"}.fa-inbox:before{content:"\f01c"}.fa-play-circle-o:before{content:"\f01d"}.fa-rotate-right:before,.fa-repeat:before{content:"\f01e"}.fa-refresh:before{content:"\f021"}.fa-list-alt:before{content:"\f022"}.fa-lock:before{content:"\f023"}.fa-flag:before{content:"\f024"}.fa-headphones:before{content:"\f025"}.fa-volume-off:before{content:"\f026"}.fa-volume-down:before{content:"\f027"}.fa-volume-up:before{content:"\f028"}.fa-qrcode:before{content:"\f029"}.fa-barcode:before{content:"\f02a"}.fa-tag:before{content:"\f02b"}.fa-tags:before{content:"\f02c"}.fa-book:before{content:"\f02d"}.fa-bookmark:before{content:"\f02e"}.fa-print:before{content:"\f02f"}.fa-camera:before{content:"\f030"}.fa-font:before{content:"\f031"}.fa-bold:before{content:"\f032"}.fa-italic:before{content:"\f033"}.fa-text-height:before{content:"\f034"}.fa-text-width:before{content:"\f035"}.fa-align-left:before{content:"\f036"}.fa-align-center:before{content:"\f037"}.fa-align-right:before{content:"\f038"}.fa-align-justify:before{content:"\f039"}.fa-list:before{content:"\f03a"}.fa-dedent:before,.fa-outdent:before{content:"\f03b"}.fa-indent:before{content:"\f03c"}.fa-video-camera:before{content:"\f03d"}.fa-photo:before,.fa-image:before,.fa-picture-o:before{content:"\f03e"}.fa-pencil:before{content:"\f040"}.fa-map-marker:before{content:"\f041"}.fa-adjust:before{content:"\f042"}.fa-tint:before{content:"\f043"}.fa-edit:before,.fa-pencil-square-o:before{content:"\f044"}.fa-share-square-o:before{content:"\f045"}.fa-check-square-o:before{content:"\f046"}.fa-arrows:before{content:"\f047"}.fa-step-backward:before{content:"\f048"}.fa-fast-backward:before{content:"\f049"}.fa-backward:before{content:"\f04a"}.fa-play:before{content:"\f04b"}.fa-pause:before{content:"\f04c"}.fa-stop:before{content:"\f04d"}.fa-forward:before{content:"\f04e"}.fa-fast-forward:before{content:"\f050"}.fa-step-forward:before{content:"\f051"}.fa-eject:before{content:"\f052"}.fa-chevron-left:before{content:"\f053"}.fa-chevron-right:before{content:"\f054"}.fa-plus-circle:before{content:"\f055"}.fa-minus-circle:before{content:"\f056"}.fa-times-circle:before{content:"\f057"}.fa-check-circle:before{content:"\f058"}.fa-question-circle:before{content:"\f059"}.fa-info-circle:before{content:"\f05a"}.fa-crosshairs:before{content:"\f05b"}.fa-times-circle-o:before{content:"\f05c"}.fa-check-circle-o:before{content:"\f05d"}.fa-ban:before{content:"\f05e"}.fa-arrow-left:before{content:"\f060"}.fa-arrow-right:before{content:"\f061"}.fa-arrow-up:before{content:"\f062"}.fa-arrow-down:before{content:"\f063"}.fa-mail-forward:before,.fa-share:before{content:"\f064"}.fa-expand:before{content:"\f065"}.fa-compress:before{content:"\f066"}.fa-plus:before{content:"\f067"}.fa-minus:before{content:"\f068"}.fa-asterisk:before{content:"\f069"}.fa-exclamation-circle:before{content:"\f06a"}.fa-gift:before{content:"\f06b"}.fa-leaf:before{content:"\f06c"}.fa-fire:before{content:"\f06d"}.fa-eye:before{content:"\f06e"}.fa-eye-slash:before{content:"\f070"}.fa-warning:before,.fa-exclamation-triangle:before{content:"\f071"}.fa-plane:before{content:"\f072"}.fa-calendar:before{content:"\f073"}.fa-random:before{content:"\f074"}.fa-comment:before{content:"\f075"}.fa-magnet:before{content:"\f076"}.fa-chevron-up:before{content:"\f077"}.fa-chevron-down:before{content:"\f078"}.fa-retweet:before{content:"\f079"}.fa-shopping-cart:before{content:"\f07a"}.fa-folder:before{content:"\f07b"}.fa-folder-open:before{content:"\f07c"}.fa-arrows-v:before{content:"\f07d"}.fa-arrows-h:before{content:"\f07e"}.fa-bar-chart-o:before,.fa-bar-chart:before{content:"\f080"}.fa-twitter-square:before{content:"\f081"}.fa-facebook-square:before{content:"\f082"}.fa-camera-retro:before{content:"\f083"}.fa-key:before{content:"\f084"}.fa-gears:before,.fa-cogs:before{content:"\f085"}.fa-comments:before{content:"\f086"}.fa-thumbs-o-up:before{content:"\f087"}.fa-thumbs-o-down:before{content:"\f088"}.fa-star-half:before{content:"\f089"}.fa-heart-o:before{content:"\f08a"}.fa-sign-out:before{content:"\f08b"}.fa-linkedin-square:before{content:"\f08c"}.fa-thumb-tack:before{content:"\f08d"}.fa-external-link:before{content:"\f08e"}.fa-sign-in:before{content:"\f090"}.fa-trophy:before{content:"\f091"}.fa-github-square:before{content:"\f092"}.fa-upload:before{content:"\f093"}.fa-lemon-o:before{content:"\f094"}.fa-phone:before{content:"\f095"}.fa-square-o:before{content:"\f096"}.fa-bookmark-o:before{content:"\f097"}.fa-phone-square:before{content:"\f098"}.fa-twitter:before{content:"\f099"}.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}.fa-github:before{content:"\f09b"}.fa-unlock:before{content:"\f09c"}.fa-credit-card:before{content:"\f09d"}.fa-feed:before,.fa-rss:before{content:"\f09e"}.fa-hdd-o:before{content:"\f0a0"}.fa-bullhorn:before{content:"\f0a1"}.fa-bell:before{content:"\f0f3"}.fa-certificate:before{content:"\f0a3"}.fa-hand-o-right:before{content:"\f0a4"}.fa-hand-o-left:before{content:"\f0a5"}.fa-hand-o-up:before{content:"\f0a6"}.fa-hand-o-down:before{content:"\f0a7"}.fa-arrow-circle-left:before{content:"\f0a8"}.fa-arrow-circle-right:before{content:"\f0a9"}.fa-arrow-circle-up:before{content:"\f0aa"}.fa-arrow-circle-down:before{content:"\f0ab"}.fa-globe:before{content:"\f0ac"}.fa-wrench:before{content:"\f0ad"}.fa-tasks:before{content:"\f0ae"}.fa-filter:before{content:"\f0b0"}.fa-briefcase:before{content:"\f0b1"}.fa-arrows-alt:before{content:"\f0b2"}.fa-group:before,.fa-users:before{content:"\f0c0"}.fa-chain:before,.fa-link:before{content:"\f0c1"}.fa-cloud:before{content:"\f0c2"}.fa-flask:before{content:"\f0c3"}.fa-cut:before,.fa-scissors:before{content:"\f0c4"}.fa-copy:before,.fa-files-o:before{content:"\f0c5"}.fa-paperclip:before{content:"\f0c6"}.fa-save:before,.fa-floppy-o:before{content:"\f0c7"}.fa-square:before{content:"\f0c8"}.fa-navicon:before,.fa-reorder:before,.fa-bars:before{content:"\f0c9"}.fa-list-ul:before{content:"\f0ca"}.fa-list-ol:before{content:"\f0cb"}.fa-strikethrough:before{content:"\f0cc"}.fa-underline:before{content:"\f0cd"}.fa-table:before{content:"\f0ce"}.fa-magic:before{content:"\f0d0"}.fa-truck:before{content:"\f0d1"}.fa-pinterest:before{content:"\f0d2"}.fa-pinterest-square:before{content:"\f0d3"}.fa-google-plus-square:before{content:"\f0d4"}.fa-google-plus:before{content:"\f0d5"}.fa-money:before{content:"\f0d6"}.fa-caret-down:before{content:"\f0d7"}.fa-caret-up:before{content:"\f0d8"}.fa-caret-left:before{content:"\f0d9"}.fa-caret-right:before{content:"\f0da"}.fa-columns:before{content:"\f0db"}.fa-unsorted:before,.fa-sort:before{content:"\f0dc"}.fa-sort-down:before,.fa-sort-desc:before{content:"\f0dd"}.fa-sort-up:before,.fa-sort-asc:before{content:"\f0de"}.fa-envelope:before{content:"\f0e0"}.fa-linkedin:before{content:"\f0e1"}.fa-rotate-left:before,.fa-undo:before{content:"\f0e2"}.fa-legal:before,.fa-gavel:before{content:"\f0e3"}.fa-dashboard:before,.fa-tachometer:before{content:"\f0e4"}.fa-comment-o:before{content:"\f0e5"}.fa-comments-o:before{content:"\f0e6"}.fa-flash:before,.fa-bolt:before{content:"\f0e7"}.fa-sitemap:before{content:"\f0e8"}.fa-umbrella:before{content:"\f0e9"}.fa-paste:before,.fa-clipboard:before{content:"\f0ea"}.fa-lightbulb-o:before{content:"\f0eb"}.fa-exchange:before{content:"\f0ec"}.fa-cloud-download:before{content:"\f0ed"}.fa-cloud-upload:before{content:"\f0ee"}.fa-user-md:before{content:"\f0f0"}.fa-stethoscope:before{content:"\f0f1"}.fa-suitcase:before{content:"\f0f2"}.fa-bell-o:before{content:"\f0a2"}.fa-coffee:before{content:"\f0f4"}.fa-cutlery:before{content:"\f0f5"}.fa-file-text-o:before{content:"\f0f6"}.fa-building-o:before{content:"\f0f7"}.fa-hospital-o:before{content:"\f0f8"}.fa-ambulance:before{content:"\f0f9"}.fa-medkit:before{content:"\f0fa"}.fa-fighter-jet:before{content:"\f0fb"}.fa-beer:before{content:"\f0fc"}.fa-h-square:before{content:"\f0fd"}.fa-plus-square:before{content:"\f0fe"}.fa-angle-double-left:before{content:"\f100"}.fa-angle-double-right:before{content:"\f101"}.fa-angle-double-up:before{content:"\f102"}.fa-angle-double-down:before{content:"\f103"}.fa-angle-left:before{content:"\f104"}.fa-angle-right:before{content:"\f105"}.fa-angle-up:before{content:"\f106"}.fa-angle-down:before{content:"\f107"}.fa-desktop:before{content:"\f108"}.fa-laptop:before{content:"\f109"}.fa-tablet:before{content:"\f10a"}.fa-mobile-phone:before,.fa-mobile:before{content:"\f10b"}.fa-circle-o:before{content:"\f10c"}.fa-quote-left:before{content:"\f10d"}.fa-quote-right:before{content:"\f10e"}.fa-spinner:before{content:"\f110"}.fa-circle:before{content:"\f111"}.fa-mail-reply:before,.fa-reply:before{content:"\f112"}.fa-github-alt:before{content:"\f113"}.fa-folder-o:before{content:"\f114"}.fa-folder-open-o:before{content:"\f115"}.fa-smile-o:before{content:"\f118"}.fa-frown-o:before{content:"\f119"}.fa-meh-o:before{content:"\f11a"}.fa-gamepad:before{content:"\f11b"}.fa-keyboard-o:before{content:"\f11c"}.fa-flag-o:before{content:"\f11d"}.fa-flag-checkered:before{content:"\f11e"}.fa-terminal:before{content:"\f120"}.fa-code:before{content:"\f121"}.fa-mail-reply-all:before,.fa-reply-all:before{content:"\f122"}.fa-star-half-empty:before,.fa-star-half-full:before,.fa-star-half-o:before{content:"\f123"}.fa-location-arrow:before{content:"\f124"}.fa-crop:before{content:"\f125"}.fa-code-fork:before{content:"\f126"}.fa-unlink:before,.fa-chain-broken:before{content:"\f127"}.fa-question:before{content:"\f128"}.fa-info:before{content:"\f129"}.fa-exclamation:before{content:"\f12a"}.fa-superscript:before{content:"\f12b"}.fa-subscript:before{content:"\f12c"}.fa-eraser:before{content:"\f12d"}.fa-puzzle-piece:before{content:"\f12e"}.fa-microphone:before{content:"\f130"}.fa-microphone-slash:before{content:"\f131"}.fa-shield:before{content:"\f132"}.fa-calendar-o:before{content:"\f133"}.fa-fire-extinguisher:before{content:"\f134"}.fa-rocket:before{content:"\f135"}.fa-maxcdn:before{content:"\f136"}.fa-chevron-circle-left:before{content:"\f137"}.fa-chevron-circle-right:before{content:"\f138"}.fa-chevron-circle-up:before{content:"\f139"}.fa-chevron-circle-down:before{content:"\f13a"}.fa-html5:before{content:"\f13b"}.fa-css3:before{content:"\f13c"}.fa-anchor:before{content:"\f13d"}.fa-unlock-alt:before{content:"\f13e"}.fa-bullseye:before{content:"\f140"}.fa-ellipsis-h:before{content:"\f141"}.fa-ellipsis-v:before{content:"\f142"}.fa-rss-square:before{content:"\f143"}.fa-play-circle:before{content:"\f144"}.fa-ticket:before{content:"\f145"}.fa-minus-square:before{content:"\f146"}.fa-minus-square-o:before{content:"\f147"}.fa-level-up:before{content:"\f148"}.fa-level-down:before{content:"\f149"}.fa-check-square:before{content:"\f14a"}.fa-pencil-square:before{content:"\f14b"}.fa-external-link-square:before{content:"\f14c"}.fa-share-square:before{content:"\f14d"}.fa-compass:before{content:"\f14e"}.fa-toggle-down:before,.fa-caret-square-o-down:before{content:"\f150"}.fa-toggle-up:before,.fa-caret-square-o-up:before{content:"\f151"}.fa-toggle-right:before,.fa-caret-square-o-right:before{content:"\f152"}.fa-euro:before,.fa-eur:before{content:"\f153"}.fa-gbp:before{content:"\f154"}.fa-dollar:before,.fa-usd:before{content:"\f155"}.fa-rupee:before,.fa-inr:before{content:"\f156"}.fa-cny:before,.fa-rmb:before,.fa-yen:before,.fa-jpy:before{content:"\f157"}.fa-ruble:before,.fa-rouble:before,.fa-rub:before{content:"\f158"}.fa-won:before,.fa-krw:before{content:"\f159"}.fa-bitcoin:before,.fa-btc:before{content:"\f15a"}.fa-file:before{content:"\f15b"}.fa-file-text:before{content:"\f15c"}.fa-sort-alpha-asc:before{content:"\f15d"}.fa-sort-alpha-desc:before{content:"\f15e"}.fa-sort-amount-asc:before{content:"\f160"}.fa-sort-amount-desc:before{content:"\f161"}.fa-sort-numeric-asc:before{content:"\f162"}.fa-sort-numeric-desc:before{content:"\f163"}.fa-thumbs-up:before{content:"\f164"}.fa-thumbs-down:before{content:"\f165"}.fa-youtube-square:before{content:"\f166"}.fa-youtube:before{content:"\f167"}.fa-xing:before{content:"\f168"}.fa-xing-square:before{content:"\f169"}.fa-youtube-play:before{content:"\f16a"}.fa-dropbox:before{content:"\f16b"}.fa-stack-overflow:before{content:"\f16c"}.fa-instagram:before{content:"\f16d"}.fa-flickr:before{content:"\f16e"}.fa-adn:before{content:"\f170"}.fa-bitbucket:before{content:"\f171"}.fa-bitbucket-square:before{content:"\f172"}.fa-tumblr:before{content:"\f173"}.fa-tumblr-square:before{content:"\f174"}.fa-long-arrow-down:before{content:"\f175"}.fa-long-arrow-up:before{content:"\f176"}.fa-long-arrow-left:before{content:"\f177"}.fa-long-arrow-right:before{content:"\f178"}.fa-apple:before{content:"\f179"}.fa-windows:before{content:"\f17a"}.fa-android:before{content:"\f17b"}.fa-linux:before{content:"\f17c"}.fa-dribbble:before{content:"\f17d"}.fa-skype:before{content:"\f17e"}.fa-foursquare:before{content:"\f180"}.fa-trello:before{content:"\f181"}.fa-female:before{content:"\f182"}.fa-male:before{content:"\f183"}.fa-gittip:before,.fa-gratipay:before{content:"\f184"}.fa-sun-o:before{content:"\f185"}.fa-moon-o:before{content:"\f186"}.fa-archive:before{content:"\f187"}.fa-bug:before{content:"\f188"}.fa-vk:before{content:"\f189"}.fa-weibo:before{content:"\f18a"}.fa-renren:before{content:"\f18b"}.fa-pagelines:before{content:"\f18c"}.fa-stack-exchange:before{content:"\f18d"}.fa-arrow-circle-o-right:before{content:"\f18e"}.fa-arrow-circle-o-left:before{content:"\f190"}.fa-toggle-left:before,.fa-caret-square-o-left:before{content:"\f191"}.fa-dot-circle-o:before{content:"\f192"}.fa-wheelchair:before{content:"\f193"}.fa-vimeo-square:before{content:"\f194"}.fa-turkish-lira:before,.fa-try:before{content:"\f195"}.fa-plus-square-o:before{content:"\f196"}.fa-space-shuttle:before{content:"\f197"}.fa-slack:before{content:"\f198"}.fa-envelope-square:before{content:"\f199"}.fa-wordpress:before{content:"\f19a"}.fa-openid:before{content:"\f19b"}.fa-institution:before,.fa-bank:before,.fa-university:before{content:"\f19c"}.fa-mortar-board:before,.fa-graduation-cap:before{content:"\f19d"}.fa-yahoo:before{content:"\f19e"}.fa-google:before{content:"\f1a0"}.fa-reddit:before{content:"\f1a1"}.fa-reddit-square:before{content:"\f1a2"}.fa-stumbleupon-circle:before{content:"\f1a3"}.fa-stumbleupon:before{content:"\f1a4"}.fa-delicious:before{content:"\f1a5"}.fa-digg:before{content:"\f1a6"}.fa-pied-piper-pp:before{content:"\f1a7"}.fa-pied-piper-alt:before{content:"\f1a8"}.fa-drupal:before{content:"\f1a9"}.fa-joomla:before{content:"\f1aa"}.fa-language:before{content:"\f1ab"}.fa-fax:before{content:"\f1ac"}.fa-building:before{content:"\f1ad"}.fa-child:before{content:"\f1ae"}.fa-paw:before{content:"\f1b0"}.fa-spoon:before{content:"\f1b1"}.fa-cube:before{content:"\f1b2"}.fa-cubes:before{content:"\f1b3"}.fa-behance:before{content:"\f1b4"}.fa-behance-square:before{content:"\f1b5"}.fa-steam:before{content:"\f1b6"}.fa-steam-square:before{content:"\f1b7"}.fa-recycle:before{content:"\f1b8"}.fa-automobile:before,.fa-car:before{content:"\f1b9"}.fa-cab:before,.fa-taxi:before{content:"\f1ba"}.fa-tree:before{content:"\f1bb"}.fa-spotify:before{content:"\f1bc"}.fa-deviantart:before{content:"\f1bd"}.fa-soundcloud:before{content:"\f1be"}.fa-database:before{content:"\f1c0"}.fa-file-pdf-o:before{content:"\f1c1"}.fa-file-word-o:before{content:"\f1c2"}.fa-file-excel-o:before{content:"\f1c3"}.fa-file-powerpoint-o:before{content:"\f1c4"}.fa-file-photo-o:before,.fa-file-picture-o:before,.fa-file-image-o:before{content:"\f1c5"}.fa-file-zip-o:before,.fa-file-archive-o:before{content:"\f1c6"}.fa-file-sound-o:before,.fa-file-audio-o:before{content:"\f1c7"}.fa-file-movie-o:before,.fa-file-video-o:before{content:"\f1c8"}.fa-file-code-o:before{content:"\f1c9"}.fa-vine:before{content:"\f1ca"}.fa-codepen:before{content:"\f1cb"}.fa-jsfiddle:before{content:"\f1cc"}.fa-life-bouy:before,.fa-life-buoy:before,.fa-life-saver:before,.fa-support:before,.fa-life-ring:before{content:"\f1cd"}.fa-circle-o-notch:before{content:"\f1ce"}.fa-ra:before,.fa-resistance:before,.fa-rebel:before{content:"\f1d0"}.fa-ge:before,.fa-empire:before{content:"\f1d1"}.fa-git-square:before{content:"\f1d2"}.fa-git:before{content:"\f1d3"}.fa-y-combinator-square:before,.fa-yc-square:before,.fa-hacker-news:before{content:"\f1d4"}.fa-tencent-weibo:before{content:"\f1d5"}.fa-qq:before{content:"\f1d6"}.fa-wechat:before,.fa-weixin:before{content:"\f1d7"}.fa-send:before,.fa-paper-plane:before{content:"\f1d8"}.fa-send-o:before,.fa-paper-plane-o:before{content:"\f1d9"}.fa-history:before{content:"\f1da"}.fa-circle-thin:before{content:"\f1db"}.fa-header:before{content:"\f1dc"}.fa-paragraph:before{content:"\f1dd"}.fa-sliders:before{content:"\f1de"}.fa-share-alt:before{content:"\f1e0"}.fa-share-alt-square:before{content:"\f1e1"}.fa-bomb:before{content:"\f1e2"}.fa-soccer-ball-o:before,.fa-futbol-o:before{content:"\f1e3"}.fa-tty:before{content:"\f1e4"}.fa-binoculars:before{content:"\f1e5"}.fa-plug:before{content:"\f1e6"}.fa-slideshare:before{content:"\f1e7"}.fa-twitch:before{content:"\f1e8"}.fa-yelp:before{content:"\f1e9"}.fa-newspaper-o:before{content:"\f1ea"}.fa-wifi:before{content:"\f1eb"}.fa-calculator:before{content:"\f1ec"}.fa-paypal:before{content:"\f1ed"}.fa-google-wallet:before{content:"\f1ee"}.fa-cc-visa:before{content:"\f1f0"}.fa-cc-mastercard:before{content:"\f1f1"}.fa-cc-discover:before{content:"\f1f2"}.fa-cc-amex:before{content:"\f1f3"}.fa-cc-paypal:before{content:"\f1f4"}.fa-cc-stripe:before{content:"\f1f5"}.fa-bell-slash:before{content:"\f1f6"}.fa-bell-slash-o:before{content:"\f1f7"}.fa-trash:before{content:"\f1f8"}.fa-copyright:before{content:"\f1f9"}.fa-at:before{content:"\f1fa"}.fa-eyedropper:before{content:"\f1fb"}.fa-paint-brush:before{content:"\f1fc"}.fa-birthday-cake:before{content:"\f1fd"}.fa-area-chart:before{content:"\f1fe"}.fa-pie-chart:before{content:"\f200"}.fa-line-chart:before{content:"\f201"}.fa-lastfm:before{content:"\f202"}.fa-lastfm-square:before{content:"\f203"}.fa-toggle-off:before{content:"\f204"}.fa-toggle-on:before{content:"\f205"}.fa-bicycle:before{content:"\f206"}.fa-bus:before{content:"\f207"}.fa-ioxhost:before{content:"\f208"}.fa-angellist:before{content:"\f209"}.fa-cc:before{content:"\f20a"}.fa-shekel:before,.fa-sheqel:before,.fa-ils:before{content:"\f20b"}.fa-meanpath:before{content:"\f20c"}.fa-buysellads:before{content:"\f20d"}.fa-connectdevelop:before{content:"\f20e"}.fa-dashcube:before{content:"\f210"}.fa-forumbee:before{content:"\f211"}.fa-leanpub:before{content:"\f212"}.fa-sellsy:before{content:"\f213"}.fa-shirtsinbulk:before{content:"\f214"}.fa-simplybuilt:before{content:"\f215"}.fa-skyatlas:before{content:"\f216"}.fa-cart-plus:before{content:"\f217"}.fa-cart-arrow-down:before{content:"\f218"}.fa-diamond:before{content:"\f219"}.fa-ship:before{content:"\f21a"}.fa-user-secret:before{content:"\f21b"}.fa-motorcycle:before{content:"\f21c"}.fa-street-view:before{content:"\f21d"}.fa-heartbeat:before{content:"\f21e"}.fa-venus:before{content:"\f221"}.fa-mars:before{content:"\f222"}.fa-mercury:before{content:"\f223"}.fa-intersex:before,.fa-transgender:before{content:"\f224"}.fa-transgender-alt:before{content:"\f225"}.fa-venus-double:before{content:"\f226"}.fa-mars-double:before{content:"\f227"}.fa-venus-mars:before{content:"\f228"}.fa-mars-stroke:before{content:"\f229"}.fa-mars-stroke-v:before{content:"\f22a"}.fa-mars-stroke-h:before{content:"\f22b"}.fa-neuter:before{content:"\f22c"}.fa-genderless:before{content:"\f22d"}.fa-facebook-official:before{content:"\f230"}.fa-pinterest-p:before{content:"\f231"}.fa-whatsapp:before{content:"\f232"}.fa-server:before{content:"\f233"}.fa-user-plus:before{content:"\f234"}.fa-user-times:before{content:"\f235"}.fa-hotel:before,.fa-bed:before{content:"\f236"}.fa-viacoin:before{content:"\f237"}.fa-train:before{content:"\f238"}.fa-subway:before{content:"\f239"}.fa-medium:before{content:"\f23a"}.fa-yc:before,.fa-y-combinator:before{content:"\f23b"}.fa-optin-monster:before{content:"\f23c"}.fa-opencart:before{content:"\f23d"}.fa-expeditedssl:before{content:"\f23e"}.fa-battery-4:before,.fa-battery:before,.fa-battery-full:before{content:"\f240"}.fa-battery-3:before,.fa-battery-three-quarters:before{content:"\f241"}.fa-battery-2:before,.fa-battery-half:before{content:"\f242"}.fa-battery-1:before,.fa-battery-quarter:before{content:"\f243"}.fa-battery-0:before,.fa-battery-empty:before{content:"\f244"}.fa-mouse-pointer:before{content:"\f245"}.fa-i-cursor:before{content:"\f246"}.fa-object-group:before{content:"\f247"}.fa-object-ungroup:before{content:"\f248"}.fa-sticky-note:before{content:"\f249"}.fa-sticky-note-o:before{content:"\f24a"}.fa-cc-jcb:before{content:"\f24b"}.fa-cc-diners-club:before{content:"\f24c"}.fa-clone:before{content:"\f24d"}.fa-balance-scale:before{content:"\f24e"}.fa-hourglass-o:before{content:"\f250"}.fa-hourglass-1:before,.fa-hourglass-start:before{content:"\f251"}.fa-hourglass-2:before,.fa-hourglass-half:before{content:"\f252"}.fa-hourglass-3:before,.fa-hourglass-end:before{content:"\f253"}.fa-hourglass:before{content:"\f254"}.fa-hand-grab-o:before,.fa-hand-rock-o:before{content:"\f255"}.fa-hand-stop-o:before,.fa-hand-paper-o:before{content:"\f256"}.fa-hand-scissors-o:before{content:"\f257"}.fa-hand-lizard-o:before{content:"\f258"}.fa-hand-spock-o:before{content:"\f259"}.fa-hand-pointer-o:before{content:"\f25a"}.fa-hand-peace-o:before{content:"\f25b"}.fa-trademark:before{content:"\f25c"}.fa-registered:before{content:"\f25d"}.fa-creative-commons:before{content:"\f25e"}.fa-gg:before{content:"\f260"}.fa-gg-circle:before{content:"\f261"}.fa-tripadvisor:before{content:"\f262"}.fa-odnoklassniki:before{content:"\f263"}.fa-odnoklassniki-square:before{content:"\f264"}.fa-get-pocket:before{content:"\f265"}.fa-wikipedia-w:before{content:"\f266"}.fa-safari:before{content:"\f267"}.fa-chrome:before{content:"\f268"}.fa-firefox:before{content:"\f269"}.fa-opera:before{content:"\f26a"}.fa-internet-explorer:before{content:"\f26b"}.fa-tv:before,.fa-television:before{content:"\f26c"}.fa-contao:before{content:"\f26d"}.fa-500px:before{content:"\f26e"}.fa-amazon:before{content:"\f270"}.fa-calendar-plus-o:before{content:"\f271"}.fa-calendar-minus-o:before{content:"\f272"}.fa-calendar-times-o:before{content:"\f273"}.fa-calendar-check-o:before{content:"\f274"}.fa-industry:before{content:"\f275"}.fa-map-pin:before{content:"\f276"}.fa-map-signs:before{content:"\f277"}.fa-map-o:before{content:"\f278"}.fa-map:before{content:"\f279"}.fa-commenting:before{content:"\f27a"}.fa-commenting-o:before{content:"\f27b"}.fa-houzz:before{content:"\f27c"}.fa-vimeo:before{content:"\f27d"}.fa-black-tie:before{content:"\f27e"}.fa-fonticons:before{content:"\f280"}.fa-reddit-alien:before{content:"\f281"}.fa-edge:before{content:"\f282"}.fa-credit-card-alt:before{content:"\f283"}.fa-codiepie:before{content:"\f284"}.fa-modx:before{content:"\f285"}.fa-fort-awesome:before{content:"\f286"}.fa-usb:before{content:"\f287"}.fa-product-hunt:before{content:"\f288"}.fa-mixcloud:before{content:"\f289"}.fa-scribd:before{content:"\f28a"}.fa-pause-circle:before{content:"\f28b"}.fa-pause-circle-o:before{content:"\f28c"}.fa-stop-circle:before{content:"\f28d"}.fa-stop-circle-o:before{content:"\f28e"}.fa-shopping-bag:before{content:"\f290"}.fa-shopping-basket:before{content:"\f291"}.fa-hashtag:before{content:"\f292"}.fa-bluetooth:before{content:"\f293"}.fa-bluetooth-b:before{content:"\f294"}.fa-percent:before{content:"\f295"}.fa-gitlab:before{content:"\f296"}.fa-wpbeginner:before{content:"\f297"}.fa-wpforms:before{content:"\f298"}.fa-envira:before{content:"\f299"}.fa-universal-access:before{content:"\f29a"}.fa-wheelchair-alt:before{content:"\f29b"}.fa-question-circle-o:before{content:"\f29c"}.fa-blind:before{content:"\f29d"}.fa-audio-description:before{content:"\f29e"}.fa-volume-control-phone:before{content:"\f2a0"}.fa-braille:before{content:"\f2a1"}.fa-assistive-listening-systems:before{content:"\f2a2"}.fa-asl-interpreting:before,.fa-american-sign-language-interpreting:before{content:"\f2a3"}.fa-deafness:before,.fa-hard-of-hearing:before,.fa-deaf:before{content:"\f2a4"}.fa-glide:before{content:"\f2a5"}.fa-glide-g:before{content:"\f2a6"}.fa-signing:before,.fa-sign-language:before{content:"\f2a7"}.fa-low-vision:before{content:"\f2a8"}.fa-viadeo:before{content:"\f2a9"}.fa-viadeo-square:before{content:"\f2aa"}.fa-snapchat:before{content:"\f2ab"}.fa-snapchat-ghost:before{content:"\f2ac"}.fa-snapchat-square:before{content:"\f2ad"}.fa-pied-piper:before{content:"\f2ae"}.fa-first-order:before{content:"\f2b0"}.fa-yoast:before{content:"\f2b1"}.fa-themeisle:before{content:"\f2b2"}.fa-google-plus-circle:before,.fa-google-plus-official:before{content:"\f2b3"}.fa-fa:before,.fa-font-awesome:before{content:"\f2b4"}.fa-handshake-o:before{content:"\f2b5"}.fa-envelope-open:before{content:"\f2b6"}.fa-envelope-open-o:before{content:"\f2b7"}.fa-linode:before{content:"\f2b8"}.fa-address-book:before{content:"\f2b9"}.fa-address-book-o:before{content:"\f2ba"}.fa-vcard:before,.fa-address-card:before{content:"\f2bb"}.fa-vcard-o:before,.fa-address-card-o:before{content:"\f2bc"}.fa-user-circle:before{content:"\f2bd"}.fa-user-circle-o:before{content:"\f2be"}.fa-user-o:before{content:"\f2c0"}.fa-id-badge:before{content:"\f2c1"}.fa-drivers-license:before,.fa-id-card:before{content:"\f2c2"}.fa-drivers-license-o:before,.fa-id-card-o:before{content:"\f2c3"}.fa-quora:before{content:"\f2c4"}.fa-free-code-camp:before{content:"\f2c5"}.fa-telegram:before{content:"\f2c6"}.fa-thermometer-4:before,.fa-thermometer:before,.fa-thermometer-full:before{content:"\f2c7"}.fa-thermometer-3:before,.fa-thermometer-three-quarters:before{content:"\f2c8"}.fa-thermometer-2:before,.fa-thermometer-half:before{content:"\f2c9"}.fa-thermometer-1:before,.fa-thermometer-quarter:before{content:"\f2ca"}.fa-thermometer-0:before,.fa-thermometer-empty:before{content:"\f2cb"}.fa-shower:before{content:"\f2cc"}.fa-bathtub:before,.fa-s15:before,.fa-bath:before{content:"\f2cd"}.fa-podcast:before{content:"\f2ce"}.fa-window-maximize:before{content:"\f2d0"}.fa-window-minimize:before{content:"\f2d1"}.fa-window-restore:before{content:"\f2d2"}.fa-times-rectangle:before,.fa-window-close:before{content:"\f2d3"}.fa-times-rectangle-o:before,.fa-window-close-o:before{content:"\f2d4"}.fa-bandcamp:before{content:"\f2d5"}.fa-grav:before{content:"\f2d6"}.fa-etsy:before{content:"\f2d7"}.fa-imdb:before{content:"\f2d8"}.fa-ravelry:before{content:"\f2d9"}.fa-eercast:before{content:"\f2da"}.fa-microchip:before{content:"\f2db"}.fa-snowflake-o:before{content:"\f2dc"}.fa-superpowers:before{content:"\f2dd"}.fa-wpexplorer:before{content:"\f2de"}.fa-meetup:before{content:"\f2e0"}.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}
/*Subscription Form*/
.pxl-subscribe-wrap{padding:20px;text-align:center;}.pxl-subscribe-wrap h4.title{font-size:22px;line-height:1;margin-bottom:0;text-transform:uppercase;}.pxl-subscribe-wrap h4.title span{font-size:38px;font-weight:bold;display:inline-block;margin-top:15px}#pxl_subscribe_popup .pxl-subscribe-wrap h4.title{margin-top:0}.pxl-subscribe-wrap p{margin:0;}.pxl-subscribe-wrap p.text{margin:15px 0;opacity:.8}.pxl-subscribe-wrap p.footer-text{font-size:12px;margin-top:10px}.pxl-subscribe-wrap input{-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:45px;margin:0;padding:10px 0;text-align:center;text-indent:10px;-webkit-box-shadow:none;box-shadow:none}.pxl-subscribe-wrap input::-webkit-input-placeholder{opacity:.8;color:inherit}.pxl-subscribe-wrap input:-moz-placeholder{opacity:.8;color:inherit}.pxl-subscribe-wrap input::-moz-placeholder{opacity:.8;color:inherit}.pxl-subscribe-wrap input:-ms-input-placeholder{opacity:.8;color:inherit}.pxl-subscribe-wrap input:focus::-webkit-input-placeholder{color:transparent !important}.pxl-subscribe-wrap input:focus:-moz-placeholder{color:transparent !important}.pxl-subscribe-wrap input:focus::-moz-placeholder{color:transparent !important}.pxl-subscribe-wrap input:focus:-ms-input-placeholder{color:transparent !important}.pxl-subscribe-wrap input.consent-field{width:17px;height:17px;margin-top:2px;margin-right:6px;cursor:pointer}.pxl-subscribe-wrap .pxl-consent-wrapper{margin-top:20px;text-align:left;display:block}.pxl-subscribe-wrap .pxl-consent-wrapper label{opacity:0.8;font-weight:normal}.pxl-subscribe-wrap .pxl-consent-wrapper label input{float:left;margin-bottom:5px}.pxl-subscribe-wrap .email-field{margin-top:10px}.pxl-subscribe-wrap input.submit{font-size:18px;font-weight:500;line-height:1;margin-top:20px;cursor:pointer;text-transform:uppercase;-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,0.05);box-shadow:0 1px 2px 0 rgba(0,0,0,0.05)}.pxl-subscribe-single .pxl-subscribe-wrap{clear:both;margin:10px 0;text-align:left}.pxl-subscribe-single .pxl-subscribe-wrap input{text-align:left}.pxl-subscribe-wrap .error,.pxl-subscribe-wrap .thanks{margin-top:10px}.pxl-subscribe-wrap .pxl-subscribe-loader{display:none;padding:1em;text-align:center;vertical-align:top}.pxl-subscribe-wrap.loading .pxl-subscribe-form,.thanks,.error{display:none}.pxl-subscribe-wrap.loading .pxl-subscribe-loader{display:block}
.su-label{padding: 1em 1em !important;font-size: 1em !important;height:1em !important;line-height:1em !important;}
.wp-block-pullquote.alignleft{float:left;margin-right:20px;}
.wp-block-pullquote.alignright{float:right;margin-left:20px;}